<ul>
    <li>
        <a routerLink="/home" routerLinkActive="active">HOME</a>
    </li>
    <li>
        <a routerLink="/usuaris" routerLinkActive="active">Users</a>
    </li>
    <li>
        <a routerLink="/experiencia" routerLinkActive="active">Experiencies</a>
    </li>
    <li>
        <a routerLink="/vinos" routerLinkActive="active">Vinos</a>
    </li>
    <li>
        <a routerLink="/home">About</a>
    </li>
    <li>
        <a routerLink="/login" routerLinkActive="active">Login</a>
    </li>
</ul>

<router-outlet></router-outlet>
