<!-- Lista de vinos -->
<div class="vinos-list">
    <h1>Lista de Vinos</h1>
    <ul>
      <li *ngFor="let vino of vinos; let i = index">
        <h3>Nombre: {{ vino.name }}</h3>
        <p>Propietario: {{ vino.owner.name}}</p>
        <p>Precio: {{ vino.price}}</p>
        <p>Color: {{ vino.color}}</p>
        <p>Marca: {{ vino.brand}}</p>
        <p>Grapetype: {{ vino.grapetype}}</p>
        <button (click)="toggleHabilitacion(i)">
          {{ vino.habilitado ? 'Inhabilitar' : 'Habilitar' }}
        </button>
        
        <!-- Botón para eliminar la experiencia -->
        <!-- <button *ngIf="experiencia._id !== undefined" (click)="deleteExperience(experiencia._id)">Eliminar</button> -->
      </li>
    </ul>
  </div>
